body {
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* entire viewport height */
  padding: 0;
  margin: 0;
}

/* Global Classes */

.white-smoke-color {
  color: #e8e6e3;
}

.primary-bg-color {
  background-color: #444;
}

.incorrect-bg-color {
  background-color: #ff6961;
}

/* Hiragana Practice */

.character {
  font-size: 120px;
  margin: 0 0 40px;
}

.input-container,
.score-container,
.time-result {
  transition: background-color 0.3s; /* when the background color changes */
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.input-container {
  width: 300px;
}

.input {
  background-color: transparent;
  width: 100%; /* relative to its parent element (input-container) */
  border: 0;
  font-size: 40px;
  text-align: center;
  padding: 0;
}

.score-display,
.score {
  font-family: sans-serif;
  font-size: 30px;
}

.time-result {
  font-family: sans-serif;
  font-size: 25px;
  display: none; /* hidden until the end of the game */
}

.restart {
  font-size: 30px;
  border-radius: 5px;
  border-color: #e8e6e3;
  padding: 2px 8px;
  margin: 5px 0;
}

/* Pseudo Classes & Pseudo Elements*/

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: #bdbab7;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e8e6e3;
}

::-webkit-scrollbar-corner {
  width: 0;
}
