/* Global Classes */

.background-container {
  background-color: #333333;
  background-image: none;
  margin: 0 0 75px;
}

.section-style {
  width: 100%;
}

.primary-title {
  padding: 0;
}

.nav-bar-section {
  bottom: 0;
  position: fixed;
}

.nav-bar-content {
  margin: auto;
  width: 60%;
}

@media (max-width: 1200px) {
  .nav-bar-content {
    width: 100%;
  }
}
