body {
  background-color: #18342f;
  margin: 0px;
}

p {
  margin: 0px;
}

li {
  font-size: 17px;
}

hr {
  border: 5px #d6cda4;
  border-style: dotted none none;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
}

h1 {
  color: #e8e6e3;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

h2 {
  color: #f7f6dc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  margin: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

h3 {
  font-size: 25px;
  margin: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.link {
  color: #f7f6dc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.link1 {
  color: #f7f6dc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.u-list {
  margin-bottom: 0;
}

.row {
  display: flex;
}

.column1 {
  padding-right: 220px;
  width: fit-content;
}

.column2 {
  width: fit-content;
}

.column3 {
  padding-left: 477.5px;
  width: fit-content;
}

.column4 {
  padding-left: 100px;
  width: fit-content;
}

.column5 {
  padding-left: 507.5px;
  width: fit-content;
}

.column6 {
  padding-left: 100px;
  width: fit-content;
}

.column7 {
  padding-left: 918px;
  width: fit-content;
}

.column8 {
  padding-left: 100px;
  width: fit-content;
}

.section1 {
  color: #e8e6e3;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding-top: 25px;
  padding-bottom: 50px;
  text-align: center;
}

.section2 {
  color: #e8e6e3;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-left: 15%;
  padding-top: 25px;
  padding-bottom: 50px;
  width: fit-content;
}

.section3 {
  color: #e8e6e3;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-left: 15%;
  padding-top: 25px;
  padding-bottom: 50px;
  width: fit-content;
}

.section4 {
  text-align: center;
}

.container1 {
  background-color: #1c6758;
  margin-left: 20%;
  margin-right: 20%;
  outline: 2px solid;
  outline-color: #393232;
  position: relative;
  width: 60%;
}

.container2 {
  background-color: #3d8361;
  margin-left: 20%;
  margin-right: 20%;
  outline: 2px solid;
  outline-color: #393232;
  position: relative;
  width: 60%;
}

.container3 {
  background-color: #56776c;
  margin-left: 20%;
  margin-right: 20%;
  outline: 2px solid;
  outline-color: #393232;
  position: relative;
  width: 60%;
}

.container4 {
  background-color: #649c81;
  margin-left: 20%;
  margin-right: 20%;
  outline: 2px solid;
  outline-color: #393232;
  position: relative;
  width: 60%;
}

.container5 {
  background-color: #1c6758;
  outline: 2px solid;
  outline-color: #393232;
  position: fixed;
  top: 969.5px;
  width: 100%;
}

#image1 {
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid;
  outline-color: #393232;
  outline-offset: -21px;
  padding: 20px;
  width: 165px;
}

#image2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

#image3 {
  display: block;
  outline: 2px solid;
  outline-color: #393232;
  outline-offset: -1px;
  position: absolute;
  right: 15%;
  top: 109px;
  width: 485px;
}

#image3-a {
  display: block;
  left: 0;
  right: 0;
  top: 37px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid;
  outline-color: #393232;
  outline-offset: -1px;
  position: absolute;
  width: 485px;
}

#image3-b {
  display: block;
  left: 0;
  right: 0;
  top: 349px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid;
  outline-color: #393232;
  outline-offset: -1px;
  position: absolute;
  width: 485px;
}

#image3-c {
  display: block;
  left: 0;
  right: 0;
  top: 661px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid;
  outline-color: #393232;
  outline-offset: -1px;
  position: absolute;
  width: 485px;
}

#image4 {
  display: block;
  left: 4%;
  top: 100px;
  position: fixed;
  width: 100px;
}

#image5 {
  display: block;
  left: 86.75%;
  top: 100px;
  position: fixed;
  width: 100px;
}

#image6 {
  display: block;
  left: 10%;
  top: 450px;
  position: fixed;
  width: 100px;
}

#image7 {
  display: block;
  left: 90%;
  top: 450px;
  position: fixed;
  width: 160px;
}

#image8 {
  display: block;
  left: 6.25%;
  top: 800px;
  position: fixed;
  width: 100px;
}

#image9 {
  display: block;
  left: 84%;
  top: 800px;
  position: fixed;
  width: 100px;
}

/*
#image10 {
  display: block;
  left: 6.25%;
  top: 0px;
  position: absolute;
  width: 140px;
}
*/

#image11 {
  display: block;
  left: 0;
  top: 0;
  position: absolute;
}

#image12 {
  display: block;
  left: 80.1%;
  top: 0;
  position: absolute;
}

#image13 {
  display: block;
  position: absolute;
  right: 10%;
  top: 82.5px;
  width: 290px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: #d6cda4;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #555;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #d6cda4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e8e6e3;
}

/*
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  position: absolute;
  width: 60px;
*/
