body {
  background-color: #000;
  background-image: url("images/img_Moon-phase.png");
  background-size: 100%; /* full size of the image */
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* entire viewport height */
  padding: 0;
  margin: 0;
}

/* Global Classes */

.white-smoke-color {
  color: #e8e6e3;
}

.primary-bg-color {
  background-color: #222;
}

.secondary-bg-color {
  background-color: #333;
}

.tertiary-bg-color {
  background-color: #444;
}

/* Index */

.index-container {
  border-radius: 15px;
}

.first-project,
.second-project {
  border-radius: 10px;
  text-align: center;
  padding: 20px 60px;
  margin: 5px;
}

.index-link {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
}

/* Pseudo Classes & Pseudo Elements*/

a:link,
a:visited,
a:hover {
  text-decoration: none;
}

a:hover {
  color: #bdbab7;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: #bdbab7;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e8e6e3;
}

::-webkit-scrollbar-corner {
  width: 0;
}
